<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">

        <div class="container">

            <div class="content" id="content">
                <img v-for="(elemento, index) in photos" :src="photos[index].img" v-show="contatore(index)">
                <div class="imginfo">
                    <div v-for="(elemento, index) in photos" v-show="contatore(index)" class="title" id="title">{{photos[index].title}}</div>
                    <div v-for="(elemento, index) in photos" class="subtitle" id="subtitle" v-show="contatore(index)">{{photos[index].subtitle}}</div>
                </div>
            </div>

            <div class="prev" id="prev">
                <img v-for="(elemento, index) in photos" :src="photos[index].img" @click="prevclick(index)"  :class="prevselected(index)" v-on:mouseover="stopautoplay()" v-on:mouseleave="autoplay()">
                    <div class="up" @click="counterup()">&and;</div>
                    <div class="down" @click="counterdown()">&or;</div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="main.js"></script>
</body>
</html>